.wp-core-ui .editor-styles-wrapper .btn {
  pointer-events: none;
}

.wrapper .btn,
.cookies .btn,
.wp-core-ui .editor-styles-wrapper .btn {
  background: #0eb495;
  outline: none;
  border: 1px solid #0eb495;
  font-family: 'Aeonik';
  border-radius: toRem(8);
  outline: none;
  cursor: pointer;
  transition: $transition;
  text-decoration: none !important;
  color: #fff;
  padding: toRem(11) toRem(19);
  @include noTap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: toRem(16);
  line-height: toRem(20);
  letter-spacing: 0;
  transition: 0.3s;
  transition-property: background-color, border-color, color;

  &:active {
    background-color: #8bd4c5;
    border-color: #8bd4c5;
  }

  @include hover {
    // color: $white;
  }

  &.secondary {
    background-color: transparent;

    &:active {
      border-color: #8bd4c5;
    }
  }

  &.blue {
    border-color: #2377db;
    background-color: #2377db;
    color: #fff;
  }

  &[disabled],
  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}
