.wp-core-ui .editor-styles-wrapper .btn {
  pointer-events: none;
}

.wrapper .btn,
.cookies .btn,
.wp-core-ui .editor-styles-wrapper .btn {
  background: #0eb495;
  outline: none;
  border: 0;
  font-family: 'Aeonik';
  border-radius: toRem(8);
  outline: none;
  cursor: pointer;
  transition: $transition;
  text-decoration: none !important;
  color: $white;
  padding: toRem(12) toRem(20);
  @include noTap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: toRem(16);
  line-height: toRem(20);

  &[disabled],
  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}
