canvas.noise {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  //   z-index: -1;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  &.init {
    visibility: visible;
    opacity: 1;
  }
}
.initNoise img.js-noise {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
