<div class="arrows splide__arrows">
  <button type="button" class="arrows__item arrows__prev splide__arrow splide__arrow--prev">
    <svg>
      <use xlink:href="/img/symbol/svg/sprite.symbol.svg#arrow-left"></use>
    </svg>
  </button>

  <button type="button" class="arrows__item arrows__next splide__arrow splide__arrow--next">
    <svg>
      <use xlink:href="/img/symbol/svg/sprite.symbol.svg#arrow-left"></use>
    </svg>
  </button>
</div>