<a href="single-news{{htmlPrefix}}" class="c-article">
  <div class="c-article__image">
    {{>components/lazyImg path=(concat "img/articles/" image ) class="c-image c-article__img" }}

    {{>button tag="div" text="Read more" class="c-article__btn" type="blue" }}
  </div>

  <div class="c-article__content">
    <h4 class="title-h4 c-article__title">
      {{ title }}
    </h4>

    <p class="text-main c-article__text">
      {{ text }}
    </p>

    <div class="c-article__bottom">
      <div class="c-article__tags">
        {{#each tags as |tagText| }}
          {{>components/tag text=tagText }}
        {{/each}}
      </div>

      <p class="text-label c-article__date">
        {{ date }}
      </p>
    </div>
  </div>
</a>