<div class="c-benefits">
  {{>components/lazyImg path=(concat "img/icons/" image ) ext="png" class="c-benefits__image" }}

  <h4 class="title-h4 c-benefits__title">
    {{{ title }}}
  </h4>

  <p class="text-main c-benefits__text">
    {{ text }}
  </p>
</div>