<div class="pagination">
  <a href="#" class="pagination-btn" aria-label="Previous page">
    <svg class="btn-icon">
      <use xlink:href="./img/symbol/svg/sprite.symbol.svg#arrow-left"></use>
    </svg>
  </a>

  <ul>
    <li><a href="#">1</a></li>
    <li class="current"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><span>...</span></li>
    <li><a href="#">27</a></li>
  </ul>

  <a href="#" class="pagination-btn" aria-label="Next page">
    <svg class="btn-icon">
      <use xlink:href="./img/symbol/svg/sprite.symbol.svg#arrow-right"></use>
    </svg>
  </a>
</div>