<div class="c-service fadeEl">
  {{#if image }}
  {{>components/lazyImg path=(concat "img/icons/" image ) ext="png" class="c-service__image" }}
  {{/if}}

  <h4 class="title-h4 c-service__title">
    {{ title }}
  </h4>

  {{#if subtitle }}
  <p class="c-service__subtitle">
    {{ subtitle }}
  </p>
  {{/if}}

  <p class="text-main c-service__text">
    {{ text }}
  </p>

  {{>button tag="a" href="#" text=btn class="c-service__btn" }}
</div>