<div class="c-service">
  <h4 class="title-h4 c-service__title">
    {{ title }}
  </h4>

  <p class="text-main c-service__text">
    {{ text }}
  </p>

  {{>button tag="a" href="#" text=btn class="c-service__btn" }}
</div>