<section class="ecosystem" data-acf-block="ecosystem" data-acf-label="Ecosystem" data-acf-style="ecosystem">
  <div class="container">
    <div class="ecosystem__wrap">
      <h2 class="title-h2 ecosystem__title">
        {{{ ecosystem.title }}}
      </h2>

      {{>components/lazyImg path="img/ecosystem" mobilePath="img/ecosystem-mobile" ext="png" class="ecosystem__image" }}

      <div class="ecosystem__list">
        {{#each ecosystem.list }}
        {{>components/service }}
        {{/each}}
      </div>
    </div>
  </div>
</section>