<section class="future" data-acf-block="future" data-acf-label="future" data-acf-style="future">
  <div class="container">
    <div class="future__wrap">
      <h2 class="title-h2 future__title">
        {{{ future.title }}}
      </h2>
      <div class="text-main future__text">
        {{{ future.text }}}
      </div>
      {{>button tag="a" href="#" text=future.btn class="future__btn" }}
    </div>
  </div>
</section>