<section class="future" data-acf-block="future" data-acf-label="future" data-acf-style="future">
  <div class="container">
    <div class="future__wrap">
      <h2 class="title-h2 fadeEl future__title">
        {{{ future.title }}}
      </h2>
      <p class="text-main fadeEl future__text">
        {{{ future.text }}}
      </p>

      {{>button tag="a" href="#" text=future.btn class="fadeEl future__btn" }}
    </div>
  </div>
</section>