<section class="help" data-acf-block="help" data-acf-label="Help" data-acf-style="help">
  <div class="container">
    <div class="help__wrap">
      <h2 class="title-h2 help__title">
        {{{ help.title }}}
      </h2>
      <p class="text-main help__text">
        {{ help.text }}
      </p>

      <div class="help__list">
        {{#each help.list }}
        {{>components/category }}
        {{/each}}
      </div>
    </div>
  </div>
</section>