<section class="impact js-impact-slider" data-acf-block="impact" data-acf-label="impact" data-acf-style="impact">
  <div class="container">
    <h2 class="title-h2 fadeEl impact__title">
      {{{ impact.title }}}
    </h2>
    <p class="text-subtitle fadeEl impact__subtitle">
      {{{ impact.subtitle }}}
    </p>
  </div>

  <div class="splide impact__slider">
    <div class="splide__track">
      <div class="splide__list">
        {{#each impact.list}}
        <div class="splide__slide">
          {{>components/case }}
        </div>
        {{/each}}
      </div>
    </div>

    {{>components/arrows }}

    {{!-- <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
          {{#each impact.list}}
          <div class="glide__slide">
            {{>components/case }}
          </div>
          {{/each}}
        </div>
      </div>
    </div> --}}
  </div>
</section>