<section class="impact js-impact-slider" data-acf-block="impact" data-acf-label="impact" data-acf-style="impact">
  <div class="container">
    <h2 class="title-h2 impact__title">
      {{{ impact.title }}}
    </h2>
    <p class="text-subtitle impact__subtitle">
      {{{ impact.subtitle }}}
    </p>
  </div>

  <div class="impact__slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        {{#each impact.list}}
        <div class="swiper-slide">
          {{>components/case }}
        </div>
        {{/each}}
      </div>
    </div>

    <div class="impact__btns">
      <button type="button" class="slider-btns__item slider-btns__item--prev">
        <svg>
          <use xlink:href="/img/symbol/svg/sprite.symbol.svg#arrow-left"></use>
        </svg>
      </button>

      <button type="button" class="slider-btns__item slider-btns__item--next">
        <svg>
          <use xlink:href="/img/symbol/svg/sprite.symbol.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>