<section class="partners" data-acf-block="partners" data-acf-label="Partners" data-acf-style="partners">
  <div class="container">
    <h2 class="title-h3 partners__title">
      {{{ partners.title }}}
    </h2>
  </div>

  <div class="partners__list">
    {{#each partners.list }}
    {{>components/partner }}
    {{/each}}
  </div>
</section>