<section class="reach" data-acf-block="reach" data-acf-label="reach" data-acf-style="reach">
  {{>components/lazyImg path="img/bg/reach" mobilePath="img/bg/reach-mobile" ext="png" class="reach__bg" }}

  <div class="container">
    <div class="reach__wrap">
      <h2 class="title-h2 reach__title">
        {{{ reach.title }}}
      </h2>

      <p class="text-bold reach__text">
        {{ reach.text }}
      </p>

      {{>button tag="a" href="#" text=reach.btn }}
    </div>
  </div>
</section>