<section class="schedule" data-acf-block="schedule" data-acf-label="Schedule" data-acf-style="schedule">
  <div class="container">
    <div class="schedule__wrap">
      <h2 class="title-h3 schedule__title">
        {{{ schedule.title }}}
      </h2>

      {{>components/lazyImg path="img/schedule/desktop" mobilePath="img/schedule/mobile" ext="png"
      class="schedule__image" }}
    </div>
  </div>
</section>