<section class="stories js-stories-slider" data-acf-block="stories" data-acf-label="stories" data-acf-style="stories">
  <div class="container">
    <h2 class="title-h2 fadeEl stories__title">
      {{{ stories.title }}}
    </h2>

    <div class="splide stories__slider">
      <div class="splide__track">
        <div class="splide__list">
          {{#each stories.list}}
          <div class="splide__slide">
            {{>components/testimonial }}
          </div>
          {{/each}}
        </div>
      </div>

      {{>components/arrows }}
    </div>
  </div>
</section>