<section class="why" data-acf-block="why" data-acf-label="why" data-acf-style="why">
  {{>components/lazyImg path="img/bg/why-mobile" ext="png" class="why__bg" }}

  <div class="container">
    <div class="why__wrap">
      <h2 class="title-h2 why__title">
        {{{ why.title }}}
      </h2>

      <div class="why__list">
        {{#each why.list }}
        {{>components/benefit }}
        {{/each}}
      </div>
    </div>
  </div>
</section>