<section id="heroScreen" class="f-index heroScreen pageHeroScreen {{#if build}}styleBoxes{{/if}}" data-animated="false"
  {{#if build}} data-style-loaded="false" data-fs="fs-style" data-style-href="fs-path" {{/if}}>

  <div class="container">
    <div class="f-index__wrap">
      {{!-- {{>components/lazyImg path="img/first/home" mobilePath="img/bg/first-mobile" ext="png"
      class="f-index__image" }} --}}
      {{>components/lazyImg path="img/bg/index" mobilePath="img/bg/index-mobile" ext="png" class="f-index__bg" }}

      <div class="f-index__content">
        <h1 class="title-h1 fadeEl f-index__title">
          {{{ first.title }}}
        </h1>
        <h2 class="title-h4 fadeEl f-index__subtitle" data-delay="100">
          {{ first.subtitle }}
        </h2>
        <p class="text-main fadeEl f-index__text" data-delay="200">
          {{ first.text }}
        </p>
        <div class="f-index__bottom fadeEl" data-delay="300">
          {{>button tag="a" href="#" text=first.btn class="f-index__btn" }}
          {{>components/truspilot }}
        </div>

        <div class="f-index__awards fadeEl" data-delay="500">
          <h4 class="f-index__awards-title">Our Awards</h4>
          {{>components/awards }}
        </div>
      </div>
    </div>
  </div>
</section>