<section id="heroScreen" class="f-index heroScreen pageHeroScreen {{#if build}}styleBoxes{{/if}}" data-animated="false"
  {{#if build}} data-style-loaded="false" data-fs="fs-style" data-style-href="fs-path" {{/if}}>

  <div class="container">
    <div class="f-index__wrap">
      <div class="f-index__content">
        <h1 class="title-h1 f-index__title">{{{ first.title }}}</h1>
        <h2 class="title-h4 f-index__subtitle">{{ first.subtitle }}</h2>
        <p class="text-main f-index__text">{{ first.text }}</p>
        {{>button tag="a" href="#" text=first.btn class="f-index__btn" }}
      </div>

      {{>components/lazyImg path="img/first/home" ext="png" class="f-index__title" }}
    </div>
  </div>
</section>