<section data-animated="false" class="page-2-fs container {{#if build}}styleBoxes{{/if}}" {{#if build}} data-style-loaded="false"
    data-fs="fs-style" data-style-href="fs-path" {{/if}}>
   <h1>example-s</h1>
</section>