.styleBoxes section.future {
  @media screen and (max-width: $tablet) {
    padding-bottom: toRem(67);
  }
}

.future__title {
  @media screen and (max-width: $tablet) {
    max-width: 60%;
    font-size: toRem(40);
    line-height: toRem(48);
  }
}

.future__text {
  margin-top: toRem(16);

  @media screen and (min-width: ($tablet + 1)) {
    margin-top: toRem(24);
  }
}

.future__btn {
  margin-top: toRem(36);
}

.future__wrap {
  @media screen and (min-width: ($tablet + 1)) {
    max-width: toRem(650);
    width: 100%;
  }
}
