@import '../components/category';

.styleBoxes section.help {
  @media screen and (max-width: $tablet) {
    padding: toRem(80) 0 toRem(370);
  }
}

.help__wrap {
  @media screen and (min-width: ($tablet + 1)) {
    max-width: calc(50% - toRem(10));
  }
}

.help__title {
  margin-bottom: toRem(16);

  @media screen and (min-width: ($tablet + 1)) {
    margin-bottom: toRem(24);
  }
}

.help__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: toRem(48) toRem(20);
  margin: toRem(40) toRem(10) 0;

  @media screen and (min-width: ($tablet + 1)) {
    grid-template-columns: repeat(4, 1fr);
    justify-items: flex-start;
    gap: toRem(75) toRem(20);
    margin: toRem(70) 0 0;
  }
}
