.help__wrap {
  @media screen and (min-width: ($tablet + 1)) {
    max-width: calc(50% - toRem(10));
  }
}

.help__title {
  margin-bottom: toRem(16);

  @media screen and (min-width: ($tablet + 1)) {
    margin-bottom: toRem(24);
  }
}

.help__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: toRem(48) toRem(20);
  margin: toRem(40) toRem(10) 0;

  @media screen and (min-width: ($tablet + 1)) {
    grid-template-columns: repeat(4, 1fr);
    justify-items: flex-start;
    gap: toRem(75) toRem(20);
    margin: toRem(70) 0 0;
  }
}

.c-category {
  position: relative;
  text-align: center;
}

.c-category__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: toRem(100);
  height: toRem(100);
  background-color: #a3c7f7;
  border-radius: toRem(14);

  @media screen and (max-width: $tablet) {
    margin: auto;
  }
}

.c-category__image img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.c-category__text {
  @media screen and (min-width: ($tablet + 1)) {
    position: absolute;
    top: calc(100% + toRem(8));
    left: 50%;
    width: 150%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: $tablet) {
    margin-top: toRem(8);
  }
}
