@import '../components/case';

.impact {
  position: relative;
  overflow: hidden;
}

.impact .splide__track {
  overflow: visible;
}

.impact__subtitle {
  margin-top: toRem(24);
  color: #0544a5;
}

.impact__slider {
  margin-top: toRem(70);

  @media screen and (max-width: $tablet) {
    padding: 0 toRem(20);
  }
}

.impact__slider .arrows {
  @media screen and (min-width: ($tablet + 1)) {
    position: absolute;
    right: toRem(60);
    top: toRem(-108);
  }

  @media screen and (max-width: $tablet) {
    margin-top: toRem(40);
  }
}
