@import '../components/article';

.news {
  padding: toRem(60) 0;

  @media screen and (min-width: ($tablet + 1)) {
    padding: toRem(120) 0;
  }

  .c-article:first-child {
    @media screen and (min-width: ($tablet + 1)) {
      grid-template-columns: 1fr;
    }
  }

  .c-article:first-child .c-article__img {
    &::before {
      @media screen and (min-width: ($tablet + 1)) {
        padding-top: 50%;
      }
    }
  }

  .c-article:first-child .c-article__content {
    @media screen and (min-width: ($tablet + 1)) {
      order: -1;
    }
  }
}

.news__wrap {
  display: grid;
  gap: toRem(16);
  align-items: center;

  @media screen and (min-width: ($tablet + 1)) {
    grid-template-columns: repeat(8, 1fr);
    gap: toRem(60) toRem(20);
  }
}

.news__title {
  @media screen and (min-width: ($tablet + 1)) {
    grid-column: 1 / -2;
  }
}

.news__btn {
  @media screen and (min-width: ($tablet + 1)) {
    grid-column-end: -1;
  }
}

.news__list {
  display: grid;
  gap: toRem(24);

  @media screen and (min-width: ($tablet + 1)) {
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(20);
  }
}

.news__list > *:first-child {
  @media screen and (min-width: ($tablet + 1)) {
    grid-row: span 2;
  }
}

.news .btn {
  color: #064093;

  @include hover {
    color: #064093;
  }

  @media screen and (max-width: $tablet) {
    order: 1;
  }
}
