.why {
  @media screen and (max-width: $tablet) {
    padding-bottom: toRem(471) !important;
  }
}

.why__wrap {
  margin-left: toRem(52);

  @media screen and (min-width: ($tablet + 1)) {
    margin-left: calc(25% + toRem(5));
  }
}

.why__title {
  margin-bottom: toRem(16);

  @media screen and (min-width: ($tablet + 1)) {
    margin-bottom: toRem(24);
  }
}

.why__list {
  display: grid;
  gap: toRem(40);
  margin-top: toRem(40);

  @media screen and (min-width: ($tablet + 1)) {
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(48) toRem(20);
    margin-top: toRem(68);
  }
}

.c-benefits {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: flex-start;
  gap: toRem(8) toRem(16);

  @media screen and (min-width: ($tablet + 1)) {
    grid-template-columns: 1fr;
    gap: toRem(12);
  }
}

.c-benefits__image {
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: toRem(80);
  height: toRem(80);
  background-color: #a3c7f7;
  border-radius: toRem(8);

  @media screen and (max-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  @media screen and (max-width: $tablet) {
    margin: auto;
  }
}

.c-benefits__image img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.c-benefits__title span {
  @media screen and (max-width: $tablet) {
    display: block;
  }
}

.c-benefits__text {
}
