.styleBoxes section.why {
  padding-top: toRem(128);

  @media screen and (max-width: $tablet) {
    padding: toRem(80) 0 toRem(471);
  }
}

.why {
  position: relative;
}

.why__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  @media screen and (min-width: ($tablet + 1)) {
    display: none;
  }
}

.why__bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  offset-position: bottom;
}

.why__wrap {
  position: relative;
  margin-left: toRem(52);

  @media screen and (min-width: ($tablet + 1)) {
    margin-left: calc(25% + toRem(5));
  }
}

.why__title {
  margin-bottom: toRem(16);

  @media screen and (min-width: ($tablet + 1)) {
    margin-bottom: toRem(24);
  }
}

.why__list {
  display: grid;
  gap: toRem(40);
  margin-top: toRem(40);

  @media screen and (min-width: ($tablet + 1)) {
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(48) toRem(20);
    margin-top: toRem(68);
  }
}
