<footer data-style-loaded="true">
  <ul>
    <li class="logo"><a href="/">
        <img class="lazyWebp" width="45" height="45" data-src="img/redlab-logo.svg" data-webp="img/redlab-logo.svg"
          data-retina="img/redlab-logo.svg" data-webp-retina="img/redlab-logo.svg" alt="logo"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
      </a></li>
    <li><a href="/instruction{{#if build}}.html{{/if}}">instruction</a></li>
    <li><a href="/example-s{{#if build}}.html{{/if}}">example-s</a></li>
    <li><a href="/noise{{#if build}}.html{{/if}}">noise</a></li>
    <li><a href="/pages-list{{#if build}}.html{{/if}}">pages-list</a></li>
  </ul>
</footer>

{{!-- {{>modals}} --}}