<div class="modal blueContent fullHeight" id="advantages" data-position="right">
    <div class="modal-inner">
        {{>button text=button icon="close" type="iconOnly" class="js-close-modal close-modal tabletOnly"}}
        <div class="modal-inner-second">
            {{>button text=button icon="close" type="iconOnly" class="js-close-modal close-modal minNotebookOnly"}}
            <div class="modal-dialog">
                <div class="advantages-modal modalContent blackContent">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque assumenda accusantium perferendis
                        architecto numquam aperiam est enim adipisci eveniet delectus maiores excepturi repellat ullam
                        fuga
                        in nemo odio veritatis maxime, quisquam praesentium unde. Placeat saepe, blanditiis nemo quod ex
                        quos.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modals.openModal('#advantages'); --}}