<section  data-script-init="false" data-script-src="{{puthSRC}}/js/swiperSlider{{version}}.js"
    class="slider">
    <section class="testimonials container">
        <h2>
            Swiper
        </h2>
        <div data-swiper-parent="true" data-swiper-type="testimonial" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                <img class="lazyWebp" width="1440" height="680" data-src="/img/example/pexels-photo-219692.jpg" data-webp="/img/example/pexels-photo-219692.webp"
                    data-retina="/img/example/pexels-photo-219692.jpg" data-webp-retina="/img/example/pexels-photo-219692.webp" alt="city"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                </div>
                <div class="swiper-slide">
                    <img class="lazyWebp" width="1440" height="680" data-src="/img/example/pexels-photo-374844.jpg" data-webp="/img/example/pexels-photo-374844.webp"
                        data-retina="/img/example/pexels-photo-374844.jpg" data-webp-retina="/img/example/pexels-photo-374844.webp" alt="city"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                </div>
                <div class="swiper-slide">
                    <img class="lazyWebp" width="1440" height="680" data-src="/img/example/pexels-photo-442579.jpg" data-webp="/img/example/pexels-photo-442579.webp"
                        data-retina="/img/example/pexels-photo-442579.jpg" data-webp-retina="/img/example/pexels-photo-442579.webp" alt="city"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                </div>
                <div class="swiper-slide">
                <img class="lazyWebp" width="1440" height="680" data-src="/img/example/pexels-photo-599982.jpg" data-webp="/img/example/pexels-photo-599982.webp"
                    data-retina="/img/example/pexels-photo-599982.jpg" data-webp-retina="/img/example/pexels-photo-599982.webp" alt="city"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
</section>