<section  
    class="template-1">
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus in architecto, cum eveniet quibusdam incidunt minima tenetur non, provident quisquam iure ex dolor voluptatem asperiores recusandae culpa eos, nesciunt ad!
</section>