<div data-script-init="false" data-script-src="{{puthSRC}}/js/videoPlayer{{version}}.js" class="vidoes container">
    <h2>VideoJs</h2>
    <h3>youtube</h3>
    <div data-role="video-player-box" class="video-player">
        <video id="video-player-box" width="1440" height="680" class="video-js" controls preload="none"
            src="https://youtu.be/9MGZFgc1MFU">
        </video>
        <img width="1440" height="680" data-src="/img/example/pexels-photo-219692.jpg"
            data-webp="/img/example/pexels-photo-219692.webp" data-retina="/img/example/pexels-photo-219692.jpg"
            data-webp-retina="/img/example/pexels-photo-219692.webp" class="lazyWebp poster" alt="poster"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <button data-role="initPlayer" type="button" class="btn play">
            <svg>
                <use xlink:href="/img/symbol/svg/sprite.symbol.svg#play-svg-icon"></use>
            </svg>
        </button>
    </div>
</div>

{{!-- https://youtu.be/9MGZFgc1MFU --}}
{{!-- /public/video/demo.mp4 --}}
{{!-- https://vimeo.com/832119390 --}}