<footer class="footer" data-style-loaded="true">
  <div class="container">
    <div class="footer__wrap">
      <h2 class="title-h2 footer__title">{{{ footer.title }}}</h2>
      <p class="text-subtitle footer__text">{{{ footer.text }}}</p>
    </div>

    <div class="footer__bottom">
      <p>{{ footer.copy }}</p>
    </div>
  </div>
</footer>

{{!-- {{>modals}} --}}