<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="/" class="header__logo">
        {{>components/logo }}
      </a>

      <div class="header__mobile">
        <nav class="header__list">
          <ul>
            {{#each header.links }}
            <li>
              <a href={{ path }}>{{ name }}</a>
            </li>
            {{/each}}
          </ul>
        </nav>

        {{>button tag="a" href="#" text=header.btn class="header__btn" type="secondary" }}
      </div>

      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>