<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo">
        {{>components/logo }}
      </div>
      <nav class="header__list">
        <ul>
          <li>
            <a href="/about">About us</a>
          </li>
          <li>
            <a href="/about">For car park owners</a>
          </li>
          <li>
            <a href="/about">For drivers</a>
          </li>
          <li>
            <a href="/about">Help & Support</a>
          </li>
        </ul>
      </nav>
      <div class="header__button"></div>
    </div>
  </div>
</header>