<div class="modal blueContent fullHeight" id="advantages">
  <div class="modal-inner">
    {{>button text=button icon="close" type="iconOnly" class="js-close-modal close-modal tabletOnly"}}
    <div class="modal-inner-second">
      {{>button text=button icon="close" type="iconOnly" class="js-close-modal close-modal minNotebookOnly"}}
      <div class="modal-dialog">
        <div class="advantages-modal modalContent blackContent">
          <h3 class="title-h1 modal__title">{{ modals.title }}</h3>
          <p class="text-subtitle modal__text">{{ modals.text }}</p>
          {{>button text=modals.btn }}
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Modals.openModal('#advantages'); --}}