{{!-- <div class="modal blueContent fullHeight" id="thanks">
  <div class="modal-inner">
    {{>button text=button icon="close" type="iconOnly" class="js-close-modal close-modal tabletOnly"}}
    <div class="modal-inner-second">
      {{>button text=button icon="close" type="iconOnly" class="js-close-modal close-modal minNotebookOnly"}}
      <div class="modal-dialog">
        <div class="advantages-modal modalContent blackContent">
          <h3 class="title-h1 modal__title">{{ modals.title }}</h3>
          <p class="text-subtitle modal__text">{{ modals.text }}</p>
          {{>button text=modals.btn }}
        </div>
      </div>
    </div>
  </div>
</div> --}}

<div class="popup" id="thanks">
  <div class="popup__wrap">
    <div class="popup__content">
      <h4 class="title-h3 popup__title">{{ modals.title }}</h4>
      <p class="text-subtitle modal__text">{{ modals.text }}</p>
      {{>button text=modals.btn }}
    </div>
  </div>
</div>

{{!-- Modals.openModal('#thanks'); --}}