@import '../_vars';
@import '../_mixins';

.footer {
  padding: toRem(80) 0 toRem(38);
  background-color: #064093;
  color: #efefef;

  @media screen and (min-width: ($tablet + 1)) {
    padding-bottom: toRem(24);
  }
}

.footer__wrap {
  @media screen and (min-width: ($tablet + 1)) {
    margin-left: calc(50% - toRem(10));
  }
}

.footer__title {
  margin-bottom: toRem(16);

  @media screen and (min-width: ($tablet + 1)) {
    margin-bottom: toRem(40);
  }
}

.footer__bottom {
  margin-top: toRem(32);
  padding-top: toRem(15);
  border-top: 1px solid #efefef;
}
