@import '../_vars';
@import '../_mixins';

@import '../components/custom-select';

.footer {
  position: relative;
  padding: toRem(80) 0 toRem(38);
  background-color: #064093;
  color: #efefef;

  @media screen and (min-width: ($tablet + 1)) {
    padding-bottom: toRem(24);
  }
}

.footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 45%;

  @media screen and (max-width: $tablet) {
    width: 100%;
    height: auto;
    top: auto;
    bottom: 0;
  }
}

.footer__bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;

  @media screen and (max-width: $tablet) {
    object-position: bottom;
  }
}

.footer__wrap {
  position: relative;

  @media screen and (min-width: ($tablet + 1)) {
    margin-left: calc(50% + toRem(11));
  }
}

.footer__title {
  margin-bottom: toRem(16);

  @media screen and (min-width: ($tablet + 1)) {
    margin-bottom: toRem(40);
  }
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: toRem(24) 0;
  margin-top: toRem(40);

  @media screen and (min-width: ($tablet + 1)) {
    margin-top: toRem(48);
  }
}

.footer__links-item h4 {
  margin-bottom: toRem(20);
  color: #689bef;
}

.footer__links-item li + li {
  margin-top: toRem(16);
}

.footer__links-item {
  @media screen and (max-width: $tablet) {
    grid-column: span 2;
  }
}

.footer__links-item:nth-child(2) {
  @media screen and (min-width: ($tablet + 1)) {
    grid-column-start: 3;
  }
}

.footer__links-item:nth-child(3) {
  @media screen and (max-width: $tablet) {
    grid-column: 2 / 4;
  }
}

.footer__bottom {
  position: relative;
  margin-top: toRem(32);
  padding-top: toRem(15);
  border-top: 1px solid #efefef;

  @media screen and (max-width: $tablet) {
    margin-top: toRem(760);
  }
}
