@import '../components/burger';

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  background-color: #064093;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: toRem(10) 0;
  height: toRem(60);

  @media screen and (min-width: ($tablet + 1)) {
    height: toRem(84);
  }
}

.header__mobile {
  display: contents;
}

.header__logo svg {
  display: block;
  width: auto;
  height: toRem(28);

  @media screen and (min-width: ($tablet + 1)) {
    height: toRem(39);
  }
}

.header__list ul {
  display: none;

  @media screen and (min-width: ($tablet + 1)) {
    display: flex;
  }
}

.header__list ul li + li {
  @media screen and (min-width: ($tablet + 1)) {
    margin-left: toRem(40);
  }
}

.header__list ul a {
  font-family: 'Aeonik';
  font-size: toRem(16);
  line-height: toRem(20);
  font-weight: 700;
  letter-spacing: 0;
}
