.c-benefit {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: flex-start;
  gap: toRem(8) toRem(16);

  @media screen and (min-width: ($tablet + 1)) {
    grid-template-columns: 1fr;
    gap: toRem(12);
  }
}

.c-benefit__image {
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: toRem(80);
  height: toRem(80);
  background-color: #a3c7f7;
  border-radius: toRem(8);

  @media screen and (max-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  @media screen and (max-width: $tablet) {
    margin: auto;
  }
}

.c-benefit__image img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.c-benefit__title span {
  @media screen and (max-width: $tablet) {
    display: block;
  }
}
