.burger {
  position: relative;
  width: toRem(36);
  height: toRem(36);
  background-color: #064093;
  border-radius: toRem(4);

  @media screen and (min-width: ($tablet + 1)) {
    display: none;
  }
}

.header--dark .burger,
.header.--open .burger {
  background-color: #f9f9f9;
}

.burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: toRem(14);
  height: 2px;
  background-color: #689bef;
  transition: 0.3s transform ease;

  &:nth-child(1) {
    transform: translate(-50%, calc(-50% - toRem(5)));
  }

  &:nth-child(2) {
    transition-property: opacity;
  }

  &:nth-child(3) {
    transform: translate(-50%, calc(-50% + toRem(5)));
  }
}

.header--dark .burger span,
.header.--open .burger span {
  background-color: #064093;
}

.header.--open .burger span {
  &:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:nth-child(2) {
    opacity: 0;
  }

  &:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.burger svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: toRem(28);
  height: toRem(28);
}

.burger svg path {
  stroke: #689bef;
}

.header--dark .burger svg path,
.header.--open .burger svg path {
  stroke: #064093;
}
