.c-service {
  padding: toRem(20);
  border-radius: toRem(20);
  background-color: #efefef;
  color: #064093;

  @media screen and (min-width: ($tablet + 1)) {
    padding: toRem(40);
  }
}

.c-service__image {
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: toRem(80);
  height: toRem(80);
  background-color: #a3c7f7;
  border-radius: toRem(10);
  margin-bottom: toRem(16);
}

.c-service__image img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.c-service__subtitle {
  margin-top: toRem(16);
  font-size: toRem(16);
  line-height: toRem(20);
  font-weight: 700;
  letter-spacing: 0;
  color: #689bef;
}

.c-service__text {
  margin-top: toRem(8);
}

.c-service__btn {
  margin-top: toRem(24);

  @media screen and (min-width: ($tablet + 1)) {
    margin-top: toRem(40);
  }
}
