.c-tag {
  padding: toRem(8);
  background-color: #f9f9f9;
  color: #064093;
  border-radius: toRem(4);
  width: fit-content;

  @media screen and (min-width: ($tablet + 1)) {
    // padding: toRem(8);
  }
}

.c-tag--gray {
  background-color: #efefef;
}
