<div class="wrapper main-page" id="wrapper" data-title="{{title}}" data-lang="{{currentLang}}"
  data-router-view="contact" data-style-loaded="false" data-style-href="{{puthSRC}}/css/pages/contact.css"
  data-style-id="styleBoxes">
  {{>contactFS }}

  <div class="styleBoxes" id="pageStyleBoxes">
    {{>sections/schedule }}
  </div>
</div>