<div class="wrapper main-page-1" id="wrapper" data-title="{{title}}" data-lang="{{currentLang}}" data-router-view="home"
    data-style-loaded="false" data-style-href="{{puthSRC}}/css/pages/index.css" data-style-id="styleBoxes">
    {{!-- main section/block --}}
    {{> page-2FS}}
    <div class="styleBoxes">
        {{!-- other sections/blocks --}}
        {{> slider}}
        {{> video}}
    </div>
</div>