<div class="wrapper index-page" id="wrapper" data-title="{{title}}" data-lang="{{currentLang}}" data-router-view="index"
  data-style-loaded="false" data-style-href="{{puthSRC}}/css/pages/index.css" data-style-id="styleBoxes">

  <div class="pageHeroScreen {{#if build}}styleBoxes{{/if}}" data-animated="false" {{#if build}}
    data-style-loaded="false" data-fs="fs-style" data-style-href="fs-path" {{/if}}>
    {{>indexFS }}
  </div>

  <div class="index-page__content">
    {{>components/lazyImg path="img/bg/home" ext="png" class="index-page__bg" }}
    {{>sections/partners }}
    {{>sections/help }}
    {{>sections/future }}
    {{>sections/why }}
    {{>sections/ecosystem }}
    {{>sections/stories }}
    {{>sections/impact }}
    {{>sections/reach }}
    {{>sections/news }}
  </div>
</div>