<div class="main-page-1" id="wrapper" data-title="{{title}}" data-lang="{{currentLang}}" data-router-view="home">
    {{!-- main section/block --}}
    {{> page-1FS}}
    <div class="styleBoxes container" data-style-loaded="false" data-style-href="{{puthSRC}}/css/pages/instruction.css">
        {{!-- other sections/blocks --}}
        {{> template-2}}
    </div>
</div>