<div class="wrapper main-page" id="wrapper" data-title="{{title}}" data-lang="{{currentLang}}" data-router-view="webgl">
    <!-- begin section -->
    <section class="noiseSection section spaced container">
        <!-- begin item -->
        <div class="item">
            <div class="item__image">
                <img src="/img/example/pexels-photo-219692.jpeg" class="js-noise" alt="Some image">
            </div>
            <h2>Cultural diversion</h2>
            <p>We have to create culture, don't watch TV, don't read magazines, don't even listen to NPR. Create your
                own
                roadshow. The nexus of space and time where you are now is the most immediate sector of your universe,
                and
                if you're worrying about Michael Jackson or Bill Clinton or somebody else, then you are disempowered,
                you're
                giving it all away to icons, icons which are maintained by an electronic media so that you want to dress
                like X or have lips like Y.
            </p>
        </div>
        <!-- end item -->

        <!-- begin item -->
        <div class="item">
            <div class="item__image">
                <img src="/img/example/pexels-photo-374844.jpeg" class="js-noise" alt="Some image">
            </div>
            <h2>Shamanic dance</h2>
            <p>This is shit-brained, this kind of thinking. That is all cultural diversion, and what is real is you and
                your
                friends and your associations, your highs, your orgasms, your hopes, your plans, your fears. And we are
                told
                'no', we're unimportant, we're peripheral. 'Get a degree, get a job, get a this, get a that.'</p>
        </div>
        <!-- end item -->

        <!-- begin item -->
        <div class="item">
            <div class="item__image">
                <img src="/img/example/pexels-photo-442579.jpeg" class="js-noise" alt="Some image">
            </div>
            <h2>Conditioning</h2>
            <p>And then you're a player, you don't want to even play in that game. You want to reclaim your mind and get
                it
                out of the hands of the cultural engineers who want to turn you into a half-baked moron consuming all
                this
                trash that's being manufactured out of the bones of a dying world.</p>
        </div>
        <!-- end item -->

        <!-- begin item -->
        <div class="item">
            <div class="item__image">
                <img src="/img/example/malcolm.jpg" class="js-noise" alt="Some image">
            </div>
            <h2>Conditioning</h2>
            <p>And then you're a player, you don't want to even play in that game. You want to reclaim your mind and get
                it
                out of the hands of the cultural engineers who want to turn you into a half-baked moron consuming all
                this
                trash that's being manufactured out of the bones of a dying world.</p>
        </div>
        <!-- end item -->

    </section>
    <!-- end section -->
</div>