<div class="wrapper main-page" id="wrapper" data-title="{{title}}" data-lang="{{currentLang}}" data-router-view="ui"
  data-style-loaded="false" data-style-href="{{puthSRC}}/css/pages/ui.css" data-style-id="styleBoxes">
  {{>ui }}

  <div class="styleBoxes" id="pageStyleBoxes">
    {{!-- {{>sections/test }} --}}
  </div>
</div>