@import '../../vars';
@import '../../mixins';

@import '../../sections/f-base';

.for-car {
  position: relative;
}

.for-car__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.for-car__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;

  @media screen and (min-width: ($tablet + 1)) {
    object-position: bottom right;
  }
}
