.title-h1 {
  font-size: toRem(44);
  line-height: toRem(44);
  font-weight: 500;
  letter-spacing: 0;

  @media screen and (min-width: ($tablet + 1)) {
    font-size: toRem(64);
    line-height: toRem(64);
  }
}

.title-h2 {
  font-size: toRem(40);
  line-height: toRem(44);
  font-weight: 500;
  letter-spacing: 0;

  @media screen and (min-width: ($tablet + 1)) {
    font-size: toRem(60);
    line-height: toRem(60);
  }
}

.title-h3 {
  font-size: toRem(32);
  line-height: toRem(37);
  font-weight: 500;
  letter-spacing: 0;

  @media screen and (min-width: ($tablet + 1)) {
    font-size: toRem(40);
    line-height: toRem(48);
  }
}

.title-h4 {
  font-size: toRem(24);
  line-height: toRem(28);
  font-weight: 700;
  letter-spacing: 0;

  @media screen and (min-width: ($tablet + 1)) {
    font-size: toRem(32);
    line-height: toRem(36);
  }
}

// .content.black,
// .blackContent {
//   color: $black;
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6,
//   .h1,
//   .h2,
//   .h3,
//   .h4,
//   .h5,
//   .h6,
//   a {
//     color: $dark;
//   }
// }

// .content.white,
// .whiteContent {
//   color: $white;
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6,
//   .h1,
//   .h2,
//   .h3,
//   .h4,
//   .h5,
//   .h6 {
//     color: $white;
//   }
// }

h1,
h2,
h3,
h4,
h5,
h6,
.title-h1,
.title-h2,
.title-h3,
.title-h4 {
  font-family: 'Aeonik';
  // margin: 0 0 toRem(20);
}
