$desktop: 1681px;
$desktop2: 2000px;
$notebook: 1480px;
$notebook2: 1340px;
$tablet: 1100px;
$tablet2: 780px;
$mobile: 540px;
$mobileHeight: 640px;
$notebookHeight: 780px;
$desktopHeight: 1040px;
$desktopHeight2: 1300px;

$transition: 0.3s;
$transition2: 0.5s ease;
// colors
$black: #292e39;
$dark: #1f2024;
$white: #dee2e6;
$green: #cfe02d;
$accent-green: #0eb495;
$red: #ff003d;
$dark-blue: #064093;
$light-grey: #d3d3d3;
$lightest-grey: #efefef;
$accent-blue: #2377db;
$bg-light: #f9f9f9;
